.el-breadcrumb {
  background-color: #F5F5F5;
  height: 45px;
  font-size: 15px;
  padding-left: 10px;
  line-height: 45px;
  margin-bottom: 15px;
}
.el-menu {
  border-right: none;
}
.el-menu--popup-right-start {
  margin-left: 0;
}
@font-face {
  font-family: 'icomoon';
  src: url('../assets/myfonts/icomoon.eot?1hpwbn');
  src: url('../assets/myfonts/icomoon.eot?1hpwbn#iefix') format('embedded-opentype'), url('../assets/myfonts/icomoon.ttf?1hpwbn') format('truetype'), url('../assets/myfonts/icomoon.woff?1hpwbn') format('woff'), url('../assets/myfonts/icomoon.svg?1hpwbn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*[class^="icon-"], [class*=" icon-"] {*/
.myicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.myicon-menu:before {
  content: "\e9bd";
}
.myicon-user:before {
  content: "\e975";
  font-size: 20px;
  line-height: 40px;
}
.myicon-key:before {
  content: "\e98d";
  font-size: 20px;
  line-height: 40px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
html,
body,
#app {
  height: 100%;
}
